* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.container{width: 100%;}
.welcome{
    background-image: url(../img/bcki.jpg);
    /* opacity: 0.5; */
    height: 850px;
    position: relative;
}
.welcomehead {
    background-color: lightgray;
    font-weight: bold;
    font-size: 80px;
    opacity: 1;
    color: rgb(58, 58, 125);
    width: 70%;
    position: absolute;
    margin-top: 300px;
    margin-left: 0px;
    height:max-content;
    padding:  30px 150px 30px 30px;
}
.welcomehead p{
    font-size: 24px;
    font-weight:normal;
    text-align: right ;
}


.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    align-content: center;
}

.menu ul li {
    font-size: 60px;
    align-items: center;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(58, 58, 125);
    display: inline-block;
    transition: transform 0.3s ease; /* Add a transition for smooth sliding */
}

.menu ul li a:hover {
    transform: translateX(20px); /* Slide the link to the right */
}
.footer {
    background-color:rgb(58, 58, 125);
    color: #fff;
    padding: 20px 0;
}

.container-f{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    padding-left: 30px;

}

.social-icons li:last-child,
.additional-links li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease; /* Add a transition for smooth sliding */
}

.social-icons a:hover {
    color: #ff0000; /* Change the color on hover */
    transform: translateX(5px); /* Add a slight movement on hover */
}
.usercon{
    position: absolute;
    right: 0.5px;
    top: 0px;
    width: 140px;
    height: 150px;
    background-color: aliceblue;
    align-items: center;
    border-radius: 10%;
}
.user-info {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    text-align: center;    
    border: 1px solid rgb(231, 231, 231);
    border-radius: 100%;
    color:rgb(58, 58, 125);
    background-color: lightgray;
}
