body {
    background-image: url('../img/desen2.jpg');
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(58, 58, 125);
    width: 300px;
    text-align: center;
}

.registration-container h2 {
    margin-bottom: 20px;
    color: rgb(58, 58, 125);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    color: rgb(58, 58, 125);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(58, 58, 125);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}

#message {
    margin-top: 15px;
    color: red;
}
